<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/account_login.css}">
</head>

<body>
    <section class="form-contents">
        <form class="login-form" th:action="@{/admin/login/process}" method="post">
            <h2>ログイン</h2>
            <div class="control-group">
                <label class="login-field-icon" for="login-email">メールアドレス</label>
                <input type="text" class="login-field" placeholder="メールアドレス" id="login-email" name="mailAddress">
            </div>
            <div class="control-group">
                <label class="login-field-icon" for="login-password">パスワード</label>
                <input type="password" class="login-field" placeholder="パスワード" id="login-password" name="password">
            </div>
            <div class="control-group control-position">
                <button class="btn">ログイン</button>
            </div>
            <div class="control-group control-position">
                <a class="login-link" th:href="@{/register}">新規登録はこちら</a>
            </div>
        </form>
    </section>

    <footer>
        <p>Copyright 2025 <small>&copy;Wang Chuankai</small></p>
    </footer>
</body>

</html>